.PromoBanner-container {
  text-align: center;
  padding: 8px 0px;
  background-color: rgb(38, 52, 240);
  color: white;
}

.PromoBanner-text {
  margin: 0;
}

.Navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.Navbar-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.Navbar-logo {
  color: rgb(38, 52, 240);
}

.Navbar-main-nav-links {
  display: flex;
  list-style-type: none;
}

.Navbar-nav-item {
  margin-left: 30px;
  border-bottom: 4px solid transparent;
}

.Navbar-nav-item:hover {
  border-bottom: 4px solid rgb(38, 52, 240);
}

.Navbar-user-links {
  display: flex;
}

.Navbar-signin-button {
  border: none;
  background: none;
  font-weight: bold;
}

.Navbar-signin-button:hover {
  color: rgb(38, 52, 240);
  cursor: pointer;
}

.Navbar-signup-button {
  padding: 10px 15px;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  background-color: rgb(38, 52, 240);
  color: white;
  font-weight: bold;
}

.Navbar-signup-button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.Hero {
  display: flex;
  justify-content: center;
}

.Hero-content-container {
  width: 60%;
  display: flex;
}

.Hero-left {
  flex-grow: 1;
  flex-basis: 0;
}

.Hero-image {
  width: 100%;
}

.Hero-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 18px;
  padding-top: 18px;
}

.Hero-right-heading {
  font-size: 4.1rem;
  font-weight: 400;
  line-height: 95%;
  margin-bottom: 0;
}

.Hero-right-subheading {
  font-size: 2.2rem;
  font-weight: 400;
}

.Hero-right-signup {
  margin-top: 30px;
}

.Hero-signup-input {
  padding: 16px 22px;
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: 1.1rem;
  width: 50%;
}

.Hero-signup-button {
  padding: 16px 22px;
  margin-left: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(38, 52, 240);
  color: white;
  font-size: 1.1rem;
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 20%;
  }
}

.Hero-signup-button:hover {
  /* filter: brightness(95%); */
  cursor: pointer;
}

.Hero-signup-offer {
  font-weight: 400;
  font-size: 1.2rem;
}
